- var video = video || undefined;
- var searchPage = searchPage || undefined;
- var query = query.split(" ").join("+");

- if (video !== undefined && video.length === 30)
	footer
	- if (searchPage === undefined)
		a.ch-btn.more(href="/page/#{page+1}") Keep going

	- else if (video !== undefined && video.length === 30 && searchPage)
		a.ch-btn.more(href="/best/#{query}?page=#{searchPage+1}") Keep going
