- var query = query || "";
header.ch-header
	h1.ch-logo.ch-icon-play-circle
		a(href="/") Shatelly
	form.ch-form.ch-header-form(action="/search", method="GET", role="search")
		input#query.search(type="text", name="q", value="#{query}", autocomplete="off", placeholder="Search...")
		input.ch-icon-search(type="submit", value="Search", accesskey="s")