!!! 5
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		title Pintubest :)
		link(rel="shortcut icon", href="/src/assets/favicon.ico")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lobster+Two:400italic")
		link(rel="stylesheet", href="/src/css/normalize.css")
		link(rel="stylesheet", href="/src/css/chico.css")
		link(rel="stylesheet", href="/src/css/pintubest.css")

		meta(name="HandheldFriendly", content="True")
		meta(name="MobileOptimized", content="320")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="google-site-verification", content="07cUCB0vzgsvjnrhpNV5bLxzCJicrHk4OYw1hsjM_O0")
		meta(name="msvalidate.01", content="E69BB1A31D65F1F707C29A72889383D9")

		link(rel="stylesheet", href="/src/css/mobile.css", media="only screen and (min-width: 240px)")
		link(rel="stylesheet", href="/src/css/tablet.css", media="only screen and (min-width: 768px)")

	body
		include includes/header

		!= body

		include includes/footer
