!!! 5
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		title
			- if (query !== undefined)
				| #{query} | Shatelly
			- else
				| Shatelly is a simple way to discover and share great videos.

		link(rel="shortcut icon", href="/src/assets/favicon.ico")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lobster+Two:400italic")
		link(rel="stylesheet", href="/src/css/normalize.css")
		link(rel="stylesheet", href="/src/css/chico.css")
		link(rel="stylesheet", href="/src/css/shatelly.css")

		meta(name="HandheldFriendly", content="True")
		meta(name="MobileOptimized", content="320")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="google-site-verification", content="dtQI6rlM_9i1geCnwUxoSWiWidfWxtzqkh7un4_Fi4U")
		meta(name="msvalidate.01", content="E69BB1A31D65F1F707C29A72889383D9")

		link(href="src/assets/favicon-shatelly.ico", rel="shortcut icon")
		link(rel="stylesheet", href="/src/css/mobile.css", media="only screen and (min-width: 240px)")
		link(rel="stylesheet", href="/src/css/tablet.css", media="only screen and (min-width: 768px)")

	body
		include includes/header

		!= body

		include includes/footer

		script(src="http://code.jquery.com/jquery.min.js")
		script
			var _gaq=[['_setAccount','UA-15753373-5'],['_trackPageview']],
				$login = $(".signup-button"),
				$videoList = $(".ch-slats"),
				$iframe = $("<iframe width=\\"100%\\" frameborder=\\"0\\" webkitallowfullscreen=\\"true\\" mozallowfullscreen=\\"true\\" allowfullscreen=\\"true\\">");

			$videoList.on("click", ".video figure a", function () {
				$i = $iframe.clone();
				$i.prop({
					"src": this.href,
					"height": this.clientHeight - 4
				});

				this.parentElement.replaceChild($i[0], this);

				return false;
			});

			$login.on("click", function () {
				if (window.showModalDialog) {
					window.showModalDialog(this.href);
					return false;
				}
			});

			$videoList.on("click", ".star", function () {
				if (window.showModalDialog) {
					window.showModalDialog(this.href);
					return false;
				}
			});

			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));